
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f1f1f1;
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 980px;
    height: 200px;
    margin: 0 auto;
}

.logo {
    width: 300px;
}

.movie-all {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-single {
    height: 360px;
    width: 300px;
    margin: 25px;
}

img {
    height: 100%;
}